# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.virtualenv/
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Logs and debugging
logs/
*.log
debug.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# PyCharm project files
.idea/

# VSCode project files
.vscode/

# MacOS system files
.DS_Store

# Environment variables and secrets
.env
*.env
secrets.json
config.json
apliedmath
.DS_Store
